{% extends "../base.njk" %}

{% block content %}


<div style="top:3em" class="container">
  <a href="/todo/new" type="button" class="btn btn-primary"> Add new todo</a>
  <div class="list-group" style="padding-top:1em;">
    {% for todo in todos %}
      <a href="/todo/{{todo.id}}" class="list-group-item">{{ todo.title }}</a>
    {% endfor %}
  </div>
</div>


{% endblock %}
